{% extends 'voyage/base.html' %}

{% block content %} 
<hr>
<h1 class="intro-text text-center"> Nos destinations Phares</h1>
    
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for destination in destinations %}
       <div class="col">
            <div class="card h-100">
                     <a href="{% url 'search' %}"> <img src="{{destination.photo}}" class="card-img-top" alt="{{ voyage.nom}}"> </a>
                <div class="card-body">
                    <h5 class="card-title">{{destination.pays}}</h5>
                </div>
            </div>
       </div>
    {% endfor %}
</div> 
{% endblock%}