<div class="col-lg-12 detail-separator">
    <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'search' %}" method="get" accept-charset="utf8">
        <div class="form-group">
            <label for="searchForm"> Chercher un voyage </label>
            <input id="searchForm" class="form-control" name="query">
        </div>
        <span class="help-block" id="helpBlock"> Trouvez le voyage de vos reves en tapant son nom
            dans la barre de recherche.
        </span>
    </form>
</div>